.dropdown {
    
    * {
        box-sizing: border-box;
    }

    .input {
        display: flex;
        position: relative;
        width: 100%;

        input {
            display: block;
            width: 100%;
            padding: 0.25em;
            height: 2em;
            border: 1px solid lightgray;
            &:hover {
                border: 1px solid green;
            }

        }

        .btn_expand {
            display: block;
            width: 2em;
            height: 2em;
            min-height: 2em;
            cursor: pointer;
            &:after {
                content: "";
                position: relative;
                width: 0; 
                height: 0; 
                border-left: 0.5em solid transparent;
                border-right: 0.5em solid transparent;
                border-top: 0.5em solid #000;
                top: 0.9em;
            }
            &:hover {
                border: 1px solid blue;
            }
        }
        .btn_clear {
            height: 2em;
            background-color: transparent;
            border: none;
            outline: none;
            display: none;
            align-items: center;
            position: absolute;
            width: 2em;
            right: 2em;
            top: 0.1em;
            text-align: center;
            cursor: pointer; 
            
            &:after {
                position: relative;
                content: "\D7";
                font-size: 2em; 
                color: #aaf;
                text-align: center;
            }

        }
        &:hover {
            .btn_clear {
                display: flex;
            }
        }


    }
    
    .collapsed {
        display: none;
    }

    .expanded {
        display: block;
        position: absolute;
        cursor: pointer;
        background-color: white;
        box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25);
        user-select: none;
        overflow-y: auto;
    }

    .option {
        color: black;
        &:hover {
            color: blue;
            background-color: rgb(200,230,255);
        }
        padding: 0.5em;
    }

    .placeholder {
        position: absolute;
        height: 2em;
        padding: 0.45em;
        color: rgba(0,0,0,0.5);
        pointer-events: none;
    }

}

